<div class="container is-widescreen">
  <h2 class="title input-title">Item Input Form</h2>

  <form>
    <div class="field">
      <label class="label">Product Name</label>
      <div class="control">
        <!-- <el-input v-model="productName"></el-input> -->
              <input
          type="text"
          placeholder="ProductName"
          class="input"
          v-model="productName"
        >
      </div>
      <p class="help is-danger">{{errors.productName}}</p>
    </div>

    <div class="field">
      <label class="label">Quantity</label>
      <div class="control">
        <!-- <el-input v-model="quantity"></el-input> -->
        <input
          type="number"
          placeholder="Quantity"
          class="input"
          v-model="quantity"
        >
      </div>
      <p class="help is-danger">{{errors.quantity}}</p>
    </div>

    <div class="field">
      <label class="label">MRP</label>
      <div class="control">
        <!-- <el-input v-model="mrp"></el-input> -->
        <input type="number" placeholder="MRP" class="input" v-model="mrp">
      </div>
      <p class="help is-danger">{{errors.mrp}}</p>
    </div>

    <div class="field is-grouped ">
        <div class="control">
          <router-link to="/invoicePage">
            <button class="button is-primary" v-on:click.prevent="save" v-bind:disabled="hasErrors">Save</button>
          </router-link>  
          </div>
        <div class="control">
          <router-link to="/invoicePage">
            <button class="button is-danger" v-on:click.prevent="cancel">Cancel</button>
          </router-link>
        </div>
    </div>

    <p class="help is-danger" v-show="hasErrors">Please fix all errors</p>
  </form>
</div>
