<div class="view-all-invoices">
    <header class="card-header">
        <h2 class="card-header-title">All Invoices</h2>
    </header>
        
        <div class="card-content">
     <div class="empty-lineItem" v-if="invoices.length === 0"> 
        <h2>No invoices added yet!!!</h2>
    </div>

    <table class="table is-striped is-fullwidth" v-else>
        <thead>
            <tr>
                <th>Date</th>
                <th>Invoice ID</th>
                <th>Total Amount</th>                  
            </tr>
        </thead>
 
        <tbody class="invoices">
         <tr v-for="invoice of invoices">
            <td>{{ invoice.date }}</td>
            <td>{{ invoice.invoiceId }}</td>
            <td>{{ invoice.amountWithTax }}</td>
         </tr>
        </tbody>

     </table>

</div>
</div>